html,body{
    margin: 0;
    padding: 0;
    font-family:'Raleway', sans-serif;
}
*{
    box-sizing: border-box;
}
.header{
    background-color:#653592;
    width: 100%;
    height: auto;
}
.container{
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.container ul li{
    list-style: none;
    margin-top: 8px;
    
}
.br-h4{
    color: #ffffff;
    font-size:larger;
    font-size: 25px;
}
.container ul{
    margin: 0;
    padding: 0;
}
.container ul li a{
    display: inline-block;
    font-size: small;
    margin-left: 20px;
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}
.container-main{
    width: 100%;
    height: auto;
    display: flex;
}
.back{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: rgb(99, 37, 153);
    height:calc(100vh  - 69px);
}
.back img{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
    height: calc(100vh  - 69px);
    width: 100%;
    object-fit: cover;
}
.container-main .back .altok img{
  position: relative;
  width: 45px;
  height: 45px;
  opacity: 1;
  margin-top: 50px;
}
h3{
    font-weight: bold;
    font-size: 100px;
    line-height: 117px;
    position: relative;
    color: #ffffff;
}
h4{
    font-size: larger;
    color: #ffffff;
    position: relative;
    right: 10px;
}
h2{
    margin-top: 55px;
    margin-bottom: 1px;
}
.line img{
   margin-left: 740px;
   margin-top: -1px;
   margin-bottom: 55px;
}
.rectangle{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:rgba(220, 193, 245, 1) ;
}
.button{
    display: flex;
    width: 110px;
    height: 39px;
    background-color:#653592; 
    border-radius:7px;
    line-height: 28px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.21);
}
.button .button{
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-family: "Raleway";
    padding-left: 20px;
    padding-top: 3px;
    font-size: 15px;
}
.call{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.call h2{
    width: 50%;
}
.call p{
    width:50%;
}
.mid-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;
    justify-content: space-evenly;
}
.mid-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: auto;
    flex-direction: row;
    margin-bottom: 50px;
}
.mid-p{
    display: flex;
    align-items: center;
    width: 40%;
}
.info-img{
    display: flex; 
}
.our{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.box-row{
    display: flex;
    flex-wrap: wrap;
    width: 1140px;
    margin: auto;
    max-width: 100%;
    padding: 15px;
}
.logos .box-row li {
    box-shadow: 3px 3px 3px 3px gray;
    margin: 15px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc((100% / 3) - 30px);
    text-align: justify;
}
.logos .box-row p{
    display: flex;
    margin-top: 35px;
}
.logos .box-row li h5{
    color: #000000;
    margin-left: -2px;
    margin-bottom: -30px;
    margin-top: -15px;
    font-size: 20px;
}
.logos .box-row li div{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
.logos .box-row li div img{
    padding: 25px;
}
.container-plan{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #000000;
    margin-top: 25px;
}
.back-plan{
    background-image: url(images/bgorund.svg);
    width: 100%;
    opacity: .8;
    display: flex;
}
.back-plan ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.bot-bar{
    width: 100%;
    background-color: rgba(101, 53, 146, 1);
    height: auto;
}
.bot-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.bot-container h4{
    color: #ffff;
    font-style: normal;
    font-size: 35px;
    line-height: 56px;
}
.bot-container p{
    color: #ffffff;
    font-size: 18px;
    line-height: 20px;
    margin-top: 65px;
}
.hamburger{
    background-color: transparent;
    border: 0;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.mid-container{
    background: url("images/circle.svg");
    background-repeat: no-repeat;
    background-position: center;
}
@media (max-width: 768px) {
    .logos .box-row li{
        width: calc(100% - 30px);
        margin:0 0 15px 0;
    }
    .mid-p{
        width: 100%;
        padding: 0 30px;
    }
    .mid-container{
        display: block;
    }
    .info-img{
        padding-top: 30px;
    justify-content: center;
    }
    .nav-ul{
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .br-h4{
        margin-bottom: 15px;
    }
    .container ul li a{
        display: flex;
        justify-content: space-around;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .container ul li{
        background-color:rgb(131, 92, 160);
    }
    .container ul li a:hover{
        color: rgb(66, 2, 95);
        border-bottom: solid 2px white;
    }
    .hamburger:hover
    {
        transform: rotateZ(-30deg);
    }
    .hamburger{
        display: flex;
        justify-content: center;
        margin-top: 25px;
        margin-right: 25px;
        font-size: 25px;
        margin-bottom: 15px;
    }
    .header ul.show{
        display: block;
    }
    .container-main .back h3{
        font-size: 30px;
    }
    .call p{
        display: none;
    }
    .call h2{
        width:100%;
    }
    .rectangle{
        justify-content: space-between;
        padding: 0 30px;
        background-color: rgba(196, 196, 196, 1);
    }
    .back-plan img{
        max-width: 100%;
    }
    .container-main .back h3{
        font-weight: 700px;
        font-style: normal;
        font-size: 64px;
    }
    .container-main .back h4{
        position: relative;
        bottom: 75px;
    }
}